* {
  font-family: 'Open Sans', sans-serif;  
  letter-spacing: 1.5px;
}
.awalan {
  background-color: #2C2E43;
  white-space: pre-line;
  padding: 0% 5px;
  color: whitesmoke;
  width: 100%;
  
  font-size: 21px;
  line-height: 1.6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.awalan img {
  
  border-radius: 100%;
  order: 2;
  max-width: 100%;
  height: 500px;
  width: 500px;
}

.awalan p {
  margin: 20px;
}

.awalan span {
  font-size: 30px;
  font-weight: bold;
}

@media (max-width:600px) {
  .awalan {
    display: inline-block;
  }
}

.konten {
  padding:60px;
  text-align: center;
  color: black;
  font-size: 30px;
}

.isi p{
  color: black;
  font-size: 20px;
  text-align: center;
  padding-bottom: 20px;
  
}

.isi p:hover {
  text-decoration: underline;
}

