{% extends 'master.html' %}
{% load static %}
    {% block meta%}
    <link rel="stylesheet" href="{% static 'css/register_admin_style.css' %}" />
    <title>{%block title%}Register{% endblock %}</title>
    {% endblock %}
 
    {% block content %}
    {% include 'navbar.html' %}
    <h1 id="title"style="color: black;">Covindox</h1>
    <div class="login-section">
        <div id="card" class="card">
            <h1 style="margin-bottom: 30px; margin-top: 50px; color: black;">Register Admin</h1>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="input username" id="username">
                    {{form.username.label}}
                    {{form.username}}
                </div>
                <div class="invalid-username" style="display: none; padding-bottom: 5px;">

                </div>
                <div class="input email" id="email">
                    {{form.email.label}}
                    {{form.email}}
                </div>
                <div class="invalid-email" style="display: none; padding-bottom: 5px;">

                </div>
                <div class="input password1" id="password">
                    {{form.password1.label}}
                    {{form.password1}}
                </div>
                <div class="invalid-password" style="display: none; padding-bottom: 5px;">

                </div>
                <div class="input password2">
                    {{form.password2.label}}
                    {{form.password2}}
                </div>
                <div class="button" style="align-self: center;">
                    <button type="submit">Next</button>
                </div>
            </form>
        </div>
    </div>
    <script src="{% static 'js/register_ajax_username.js' %}"></script>
    <script src="{% static 'js/register_ajax_email.js' %}"></script>
    <script src="{% static 'js/register_ajax_password.js' %}"></script>
    {% endblock content %}
    
