{% extends 'master.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block meta %}
<meta charset="UTF-8">
   <link rel="stylesheet" href="{% static 'css/testing2.css'%}" />
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
   <title>{%block title%}Covindax{% endblock %}</title>
   <title>Covindox</title>
   <style>
     body {
          background-image: url('https://w7.pngwing.com/pngs/477/61/png-transparent-indonesia-map-indonesia-computer-wallpaper-world-vector-map.png');
        }
      h1{
        color : white;
      }
    </style>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}

<div class="col d-flex justify-content-center">
<div class="card border-success mb-3" style="max-width: 40rem">
  <div class="card-header">
    <div class="col-md-button text-center">
        <h4> Feedback Form</h4>
        <h6> Tell us here what should we improve on</h6>
    </div>
  </div>
  <div class="card-body text-success">
    <div class="container">
      <form method="POST" id="form">
        <div id="messages" class="hide" role="alert">
            <div class="col-md-button text-center">
                <div id="messages_content"></div>
            </div>
        </div>
              {% csrf_token %}
              {{ form|crispy }}
          <div class="col-md-button text-center">
              <button type="submit" class="btn btn-outline-success">Submit</button>
          </div>
      </form>
    </div>
  </div>
</div>
</div>

{% endblock content %}

{% block javascript %}
<script>
  const form = document.getElementById('form');
      form.addEventListener("submit", submitHandler);
      function submitHandler(e) {
        $('#messages').removeClass('hide').addClass('alert alert-success').show();
        $('#messages_content').html('<h5>Your feedback is succesfully subimitted</h5>');
        $('#modal').modal('show');
          e.preventDefault();
          $.ajax({
              type        : 'POST', 
              url         : "{% url 'Feedback' %}", 
              data        : $('#form').serialize(), 
              dataType    : 'json', 
              success     : successFunction
          });
      }

      function successFunction(msg) {
          if (msg.message === 'success') {
            window.location = "2";
            alert('we will redirecting you to the main page')
          }
      }
</script>
{% endblock javascript %}
