{% extends 'master.html' %}
{% load static %}

    {% block meta %}
    <link rel="stylesheet" href="{% static 'css/add_article.css' %}" />
    <title>{%block title%}Covindax{% endblock %}</title>
    {% endblock meta %}

    {% block content %}
    {% include 'navbar.html' %}
        <div class="title">
            <h1>Add Article</h1>
            <br>
        </div>
        <div class="container">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    <div class="fieldWrapper">
                        {{ field.errors }}
                        {{ field.label_tag }} <br> <br> {{ field }}
            
                    </div>
                <br>
                {% endfor %}
                <p><input type="submit" value="Submit"  /></p>
            </form>
            <br>
            <br>
        </div>
    {% endblock content %}
