{% extends 'master.html' %}
{% load static %}

    {% block meta %}
    <link rel="stylesheet" href="{% static 'css/article_css.css' %}" />
    <title>{%block title%}Covindax{% endblock %}</title>
    {% endblock meta %}

    {% block content %}
    {% include 'navbar.html' %}
        <div class="awalan">
            
            <p>
            <span>Artikel</span>

            
            Di masa pandemi seperti sekarang
            mungkin banyak yang jenuh dan
            ingin melakukan suatu kegiatan
            yang dapat menghilangin kebosanan,
            membaca mungkin bisa dijadikan
            pilihan karena membaca dapat
            menambah pengetahuan dan
            mengisi waktu luang.


            Artikel ini memiliki banyak kekurangan,
            tetapi artikel ini mungkin dapat menemani
            kamu di masa pandemi dan memberi kamu ilmu
            tentang beberapa hal yang mungkin belum
            kamu ketahui
            </p>
            <img src="https://i.pinimg.com/564x/ff/bc/be/ffbcbe48bc9f8890f93c1cb19f733804.jpg" alt="read">

        </div>

        <div class="konten">
          <p>Artikel</p>
          <hr style="margin: 15px;">
        </div>
        {% for post in li reversed %}
        <div class="isi">
          <a href="{{post.URLartikel}}">
            <p>{{post.titleArtikel}}</p>
          </a>
        </div>
        {% endfor %}

    {% endblock content %}
