*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #ECFDFF;
    color: rgb(255, 255, 255);
    font-family: 'Nova Round', cursive;
    overflow-x: hidden;
}


body::-webkit-scrollbar{
    width: 0.5rem;

}

body::-webkit-scrollbar-track{
    background: #ECFDFF;

}

body::-webkit-scrollbar-thumb{
    background: #13f4b0;

}

/* Start Nav bar*/
.navbar{
    position: relative;
    margin-bottom: 80px;
    
}
header{
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background: #13f4b0;
    height: 80px;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    transition: 0.6s;
    z-index: 100000;

}

li, a{
    font-family: 'Nova Round', cursive;
    font-weight: 500px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    text-decoration: none;
    height: 100%;
}

header h1{
    font-family: 'Nova Round', cursive;
    font-weight: 500px;
}

.nav-links{
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a{
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover{
    color: rgb(52, 202, 240);
}

/* End Nav bar*/

#title{
    text-align: center;
    margin-top: 100px;
    font-size: 50px;
}

.login-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.picture{
    margin-right: 50px;
}

.card{
    margin-top: 10px;
    background-color: rgb(191, 230, 241);
    width: 400px;
    height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    margin-left: 50px;
    box-shadow: 2px 2px 2px 2px #b9b9b9;
}

form{
    color: black;
    display: flex;
    flex-direction: column  ;
}

.input{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    font-size: 15px;
}

input{
    padding: 5px;
    padding-right: 150px;
    border-radius: 10px;
    font-size: 14px;
    border:2px solid #949293;
    outline: none;
    transition: 0.5s;
}

input:focus{
    border: 2px solid #13f4b0;
}

