
/* Start Nav bar*/
.navbar{
    position: fixed;
    margin-bottom: 80px;
    color: white;
    width: 100%;
    overflow: hidden;
    z-index: 50;
    
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background: #13f4b0;
    height: 80px;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.6s;
    overflow: hidden;
}


li, a{
    color: white;
    font-family: 'Nova Round', cursive;
    font-weight: 500px;
    font-size: 16px;
    text-decoration: none;
    height: 100%;
}

header h1{
    font-family: 'Nova Round', cursive;
    font-weight: 500px;
}

.nav-links{
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0px 10px;
}

.nav-links li a{
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover{
    color: rgb(52, 202, 240);
}

/* End Nav bar*/
@media (max-width: 575px) {

    body{
        overflow-x: hidden;
    }

    header{
        width: 100%;
        font-size: 10px;
        
    }
    header h1{
        margin-left: -20px;
        display: none;
    }
    .about .content .image img{
        padding-right: 0px;
        transform: 0px;
    }
}


@media (min-width: 576px) {
    header{
        max-width: 760px;
        font-size: 10px;
    }
}

/*Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    header{
        max-width: 100%;
        font-size: 15px;
    }
    
}

/* Large devices (desktops, 992px and up) */ 
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */ 
@media (min-width: 1200px) {

}
