{% extends 'master.html' %}
{% load static %}

{% block meta %}
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/calender.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
{% endblock %}

{% block content %}
<div class="clearfix">
    <span class="left m-2" style="font-size: 40px;">Kalender Vaksin</span>
    <a class="btn btn-info right" href="{% url 'logout' %}"> Sign Out</a>
	<a class="btn btn-info right mr-2" href="{% url 'registervaccine:index' %}?{{ next_month }} "> Next Month >> </a>
    <a class="btn btn-info right mr-2" href="{% url 'registervaccine:index' %}?{{ prev_month }}"> << Previous Month </a>
    <a class="btn btn-info right mr-2" href="{% url 'registervaccine:event_new' %}"> + New Event </a>
    <a class="btn btn-info right mr-2" href="{% url 'registervaccine:registrasi' %}"> Back </a>
</div>
<div style="color: blueviolet;">
    {{ calendar }}
</div>
{% endblock content %}