<!-- templates/article_delete.html -->
{% extends 'master.html' %}
{% load static %}

{% block meta %}
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/calender.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
{% endblock %}

{% block title %}
Event Delete
{% endblock %}

{% block content %}
{% include 'navbar.html' %}

    <h1>Delete</h1>
    <form action="" method="post">{% csrf_token %}
        <p>Are you sure you want to delete this event?</p>
        <button class="btn btn-danger ml-2" type="submit">Confirm</button>
        <a href="{% url 'registervaccine:index' %}"><button class="btn btn-info ml-2" type="button">Back</button></a>
    </form>
{% endblock content %}