{% extends 'master.html' %}
{% load static %}

    {% block meta %}
    <link rel="stylesheet" href="{% static 'css/calender.css' %}" />
    <title>{%block title%}Register Vaccination{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    {% endblock meta %}

    
    {% block content %}

    <div class="container"> 
        <h1>Pilih Tanggal Vaksin</h1>
        
        {% if user.is_staff %}
        <a id="goto" href="{% url 'registervaccine:index' %}"> Go to Calendar</a>
        {% endif %}
        
        {% if numEvents == 0 %}
        <h3>Belum ada jadwal vaksin</h3>
        {% endif %}

        <table class="table">
            {% for event in events %}
            <tr>
                <td>
                    {{ event.date }}         
                </td>
                <td>{{event.start_time}}  &nbsp;&nbsp;-&nbsp;&nbsp;  {{event.end_time}}</td>
                <td><a href="{% url 'registervac:daftar' event.id %}"><button> Daftar </button></a></td>
            </tr>
            {% endfor %}
        </table>
    </div>

    {% endblock content %}