{% extends 'master.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/randomizer.css' %}" />
<title>{%block title%}Random Generator{% endblock %}</title>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}
<div class="random-content">
    <div class="random-opening">
        <h2>Hi there</h2>
        <h3>#StaySafe!</h3>
    </div>
    <div class="random-sentence">
        <h4>We know that it's been a tough year for us. </h4>
        <h4>We just want you to know that:</h4>
        <h3>We are all here for You</h3>
    </div>
    <div class="random-choose">
        <a href="#" id="button" class="random-showRandom">Let's see what strangers
            left for me</a>
        <br>
        <a href="{% url 'add_note' %}" id="button2" class="random-makeRandom">Cheer others up!</a>
    </div>
</div>

<!-- Modal -->
<div class="bg-modal">
    <div class="modal-contents">
        <div class="close">+</div>
        <div class="displaynote">
            <output class="note-writers">a message from {{temp.writers}}</output>
            <br>
            <output class="note-isi">{{temp.isiText}}</output>
        </div>
        <div class="nextbutton">
            <a href="#" id="buttons" class="anotherrandom">Another one!</a>
        </div>
    </div>
</div>

<script>
    document.getElementById('button').addEventListener("click", function () {
        document.querySelector('.bg-modal').style.display = "flex";
    });

    document.querySelector('.close').addEventListener("click", function () {
        document.querySelector('.bg-modal').style.display = "none";
    });

    document.querySelector('.nextbutton').addEventListener("click", function () {
        location.reload();
        document.querySelector('.bg-modal').style.display = "flex";
    });
</script>
{% endblock content %}