{% extends 'master.html' %}
{% load static %}

    {% block meta %}
    <link rel="stylesheet" href="{% static 'css/add_random.css' %}" />
    <title>{%block title%}Covindax{% endblock %}</title>
    {% endblock meta %}

    {% block content %}
    {% include 'navbar.html' %}
        <div class="title">
            <h1>Add Note</h1>
            <br>
        </div>
        <div class="main">
            <form method="POST"">
                {% csrf_token %}
                {% for field in form %}
                    <div class="fieldWrapper">
                        {{ field.errors }}
                        {{ field.label_tag }} 
                        <br> 
                        <br> 
                        {{ field }}
            
                    </div>
                <br>
                {% endfor %}
                <br>
                <a class="back" href ="{% url 'index' %}">Back</a>
                <br>
                <br>
                <br>
                <p><input type="submit" value="Submit"/></p>
            </form>
            <br>
            <br>
        </div>
    {% endblock content %}
