.navbar{
    position: absolute;
}

#title{
    text-align: center;
    font-size: 50px;
}

.login-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.picture{
    margin-right: 50px;
}

.card{
    margin-top: 170px;
    background-color: rgb(191, 230, 241);
    width: 400px;
    height: 300px;
    margin-bottom: 180px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    margin-left: 50px;
    box-shadow: 2px 2px 2px 2px #b9b9b9;
}

form{
    color: black;
    display: flex;
    flex-direction: column  ;
}

.input{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    font-size: 15px;
}

input{
    padding: 5px;
    padding-right: 150px;
    border-radius: 10px;
    font-size: 14px;
    border:2px solid #949293;
    outline: none;
    transition: 0.5s;
}

input:focus{
    border: 2px solid #13f4b0;
}

.button  button{
    margin-top: 10px;
    background-color: rgb(104, 200, 245);
    border: none;
    font-size: 18px;
    padding: 10px;
    transition: 0.5s;
    border-radius: 10px;
}

.button button:hover{
    background-color: rgb(24, 161, 224);
}

