.title h1 {
    padding-top: 10px;
    color: black;
}

.container form{
    color: black;
}

* {
    text-align: center;
    font-family: 'Nova Round';
}

.fieldWrapper {
    color: black;
}

input{
    background-color: #59BFC6;
}

.back{
    font-size: 15px;
    padding: 20px 26px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color:  #F99EBE;
    border: 2px solid black;
}

input[type="submit"]{
    color: black;
    cursor: pointer;
    font-size: 15px;
    padding: 20px;
    border-radius: 10px;
}