*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background: #ECFDFF;
    font-family: 'Nova Round', cursive;
    overflow-x: hidden;
}

/* Start Random Content */
.random-content{
    position: relative;
    color: black;
    font-family: 'Nova Round';
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: center;
}

.random-opening {
    padding-top: 40px;
    padding-bottom: 45px;
    font-size: 35px;
    
}

.random-sentence {
    font-size: 20px;
    padding-bottom: 30px;
}

.random-showRandom {
    font-family: 'Nova Round';
    background: #59BFC6;
    font-size: 30px;
    border: none;
    color: black;
    padding: 20px 40px;
    text-align: center;
    display: inline-block;
    margin: 20px 10px;
    cursor: pointer;
    border-radius: 30px;
}

.random-makeRandom {
    font-family: 'Nova Round';
    background: #F99EBE;
    font-size: 30px;
    border: none;
    color: black;
    padding: 20px 180px;
    text-align: center;
    display: inline-block;
    margin: 20px 10px;
    cursor: pointer;
    border-radius: 30px;
}

/* modal */
.bg-modal {
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: none;
	justify-content: center;
	align-items: center;
}

.modal-contents {
	height: 300px;
	width: 500px;
	background-color: white;
    text-align: center;
	position: relative;
	border-radius: 10px;
}

output {
	margin: 10px auto;
	display: block;
	width: 50%;
	padding: 8px;
	border: 1px solid gray;
}

.note-writers {
    color: black;
    border-radius: 10px;
    font-size: 20px;
    background: #59BFC6;
}

.note-isi {
    color: black;
    border-radius: 5px;
    width: 100%;
    background: #F99EBE;
    font-size: 20px;
}

.nextbutton {
    position: absolute;
    bottom: 0;
    right: 5px;
    font-size: 20px;
    padding: 10px 10px;
    font-family: 'Nova Round';
    background: #FFFF33;
    border: none;
    display: inline-block;
    margin: 10px 10px;
    cursor: pointer;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
}

.anotherrandom {
    color: black;
}
.close {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 42px;
	color: #333;
	transform: rotate(45deg);
	cursor: pointer;
}

