{% extends 'master.html' %}
{% load static %}

    {% block meta %}
    <link rel="stylesheet" href="{% static 'css/homepage_css.css' %}" />
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}Covindax{% endblock %}</title>
    {% endblock meta %}

    {% block content %}
    {% include 'navbar.html' %}
    <div class="main">
        <div class="welcome-user">
            <img class="welcome-pattern" src="{% static "image/welcome-pattern.svg" %}" alt="">
            <h1 style="position: absolute;">Welcome to <br> Covindox</h1>

            {% if not user.is_authenticated %}
            <div class="button">
                <a href="/register"><button class="regist" style="background: #E0FF9E; font-size: 30px; color: rgb(90, 88, 88);">Register</button></a>
                <a href="/login"><button class="login" style="background: #F99EBE; font-size: 30px; color: rgb(90, 88, 88)">Login</button></a>
            </div>
            {%else%}
            <div class="button">
                <a href="/profile"><button class="profile" style="top: 10px; left: -30px; background: #e6d00e; font-size: 30px; color: rgb(90, 88, 88)">Go to Profile</button></a>
                <a href="{% url 'logout' %}"><button class="logoutbutt" style="top: 10px; left: 200px;  background: #e6d00e; font-size: 30px; color: rgb(90, 88, 88)">Logout</button></a>
            </div>
            {% endif %}
            <div class="image-right">
                <img class="circle" src="{% static "image/circle-pattern.svg" %}" alt="">
                <img class="doctor" src="{% static "image/doctor.png" %}" alt="">
            </div>
            
        </div>
        <div class="about">
            <div class="title-about">
                <h1>About</h1>
            </div>
            <div class="content">
                <div class="image">
                    <img src="{% static "image/computer.png" %}" alt="">
                </div>
                <p>A website used by the Indonesian people to get all the facilities related to covid-19 and the latest information about covid-19.</p>
            </div>
        </div>
        <div class="reminder">
            <div class="title-about" style="max-width: 500px;">
                <h1>Get vaccinated Now</h1>
            </div>
            <div class="imgfamily">
                <img src="{% static "image/family.png" %}" alt="">
            </div>
            <a href="/" class="book"><button>Book</button></a>
        </div>
        
        <input type="checkbox" id="check"> <label class="chat-btn" for="check"> <span class="material-icons">face</span> </label>
        <div class="wrapper">
            <div class="header">
              <div class="col-md-button text-center">
                  <h2>Feedback</h2>
              </div>
            </div>
            <div class="text-center p-2"> <span>give us feedback by clicking link below</span> </div>
            <nav>
              <div class="col-md-button text-center">
                    <a href="FeedbackPage"> Feedback form</a>
              </div>
            </nav>
        </div>
    </div>
    {% endblock content %}