{% extends 'master.html' %}
{% load static %}

    {% block meta %}
    <link rel="stylesheet" href="{% static 'css/edit_profile_style.css' %}" />
    <title>{%block title%}Profile{% endblock %}</title>
    {% endblock meta %}

    {% block content %}
    {% include 'navbar.html' %}
    <h1 style="color: black; text-align: center; margin-bottom: 20px; padding-top: 50px;">Edit Profile</h1>
    <div class="main">
        <div class="card">
            <form id="form-edit" action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form">
                    <div class="input fullname">
                        {{form.fullname.label}}
                        {{form.fullname}}
                    </div>
                    <div class="input no_phone">
                        {{form.no_phone.label}}
                        {{form.no_phone}}
                    </div>
                    <div class="input address">
                        <label for="">{{form.address.label}}</label>
                        {{form.address}}
                    </div>
                </div>
                <div class="button" style="align-self: center;">
                    <button class='save' type="submit">Save</button>
                    <a href="../" class="back"><button>Back</button></a>
                </div>
            </form>
        </div>
    </div>
    <script src="{% static 'js/modal.js' %}"></script>
    {% endblock content %}
