{% extends 'master.html' %}
{% load static %}

    {% block meta %}
    <link rel="stylesheet" href="{% static 'css/profile_style.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nova+Round&family=Poppins:wght@500&display=swap" rel="stylesheet">

    <title>{%block title%}Profile{% endblock %}</title>
    {% endblock meta %}

    {% block content %}
    {% include 'navbar.html' %}
    <div class="main">
        <div class="vac-card">
            {% if regist == None %}
            <div class="first">
                <h1>Tanggal Vaksin Pertama</h1>
                <h1 class="belumada">Belum memilih tanggal</h1>
            </div>
            <div class="second">
                <h1>Tanggal Vaksin Kedua</h1>
                <h1 class="belumada">Belum memilih tanggal</h1>
            </div>
            {% else %}
            <div class="first">
                <h1>Tanggal Vaksin Pertama</h1>
                <div class="tanggal">
                    <div class="bulan">
                        <h4>Month</h4>
                        <div class="num" id="bulan">
                            <h6>{{regist.tanggal_vaksin.month}}</h6>
                        </div>
                    </div>
                    <div class="hari">
                        <h4>Day</h4>
                        <div class="num" id="hari">
                            <h6>{{regist.tanggal_vaksin.day}}</h6>
                        </div>
                    </div>
                    <div class="tahun">
                        <h4>Year</h4>
                        <div class="num" id="tahun">
                            <h6>{{regist.tanggal_vaksin.year}}</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="second">
                <h1>Tanggal Vaksin Kedua</h1>
                <div class="tanggal">
                    <div class="bulan">
                        <h4>Month</h4>
                        <div class="num" id="bulan">
                            <h6>{{second_date.month}}</h6>
                        </div>
                    </div>
                    <div class="hari">
                        <h4>Day</h4>
                        <div class="num" id="hari">
                            <h6>{{second_date.day}}</h6>
                        </div>
                    </div>
                    <div class="tahun">
                        <h4>Year</h4>
                        <div class="num" id="tahun">
                            <h6>{{second_date.year}}</h6>
                        </div>
                    </div>
                </div>
            </div>
            {%endif%}
        </div>
        <div class="card">
            <div class="bio">
                <div class="info username" style="padding-bottom: 10px; padding-top: 10px;">
                    <h1>Hello, {{profile.user}}</h1>
                </div>
                <label for="">Full Name</label>
                <div class="mini-card">
                    <div class="info fullname"> 
                        <h1 style="padding: 5px;">{{profile.fullname}}</h1>
                    </div>
                </div>
                <label for="">Address</label>
                <div class="mini-card">
                    <div class="info address">
                        <p style="padding: 5px;">{{profile.address}}</p>
                    </div>
                </div>
                <label for="">Phone Number</label>
                <div class="mini-card">
                    <div class="info phone">
                        <p style="padding: 5px;">{{profile.no_phone}}</p>
                    </div>
                </div>
            </div>
            <div class="button">
                <a href="edit-profile/" class="edit-profile"><button>Edit Profile</button></a>
                <a href="../" class="back"><button>Back</button></a>
            </div>
        </div>
    </div>

    {% endblock content %}

